<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<div class="first">

<div class="second">

<div class="container text-center">
    <h3>Appointment Details:</h3>
  <table class="table table-borderless" *ngFor="let app of appointment">
   
      <tr>
        <th>Name</th>
        <td>Ramya</td>
       
      </tr>
    
    <tbody>
      <tr>
        <th>Date</th>
        <td>{{app.date}}</td>
       
      </tr>
      <tr>
        <th>Time</th>
        <td>{{app.time}}am</td>
       
      </tr>
     
    </tbody>
  </table>
</div>
</div>
</div>
