<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.7.1/css/bootstrap.min.css">


<div class="jumbotron text-center">
    <h1 class="display-5">
        Book an appointment with us
       
    </h1>
</div>

<div class="container">
    <div class="row custom-wrapper">


        <!-- Form starts -->
        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

            <div class="group-gap">
                <div class="d-block my-3">
                    <div class="col-md-3">
                        <!--city validation-->
                        <div class="mb-3">
                            <select class="form-control round" (change)="changeCity($event)" [(ngModel)]="sharedService.doctor.branch"formControlName="branch">
                                <option value="">Choose your city</option>
                                <option    >hebbal</option>
                                <option    >nagavara</option>
                               
                            </select>

                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="isSubmitted && branch.errors?.required">
                                <sup>*</sup>Please enter your city name
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <!--spl validation-->
                        <div class="mb-3">
                            <select class="form-control round"  (change)="changeSpl($event)"  [(ngModel)]="sharedService.doctor.specialist" formControlName="specialist">
                                <option [ngValue]="">Choose your specialist</option>
                                <!-- <option *ngFor="let spl of spcl" [ngValue]="spl.specialist">{{spl.specialist}}</option>-->
                                <option >dental</option>
                                <option >fever</option>
                            </select> 

                            <!-- error block -->
                            <div class="invalid-feedback" *ngIf="isSubmitted && specialist.errors?.required">
                                <sup>*</sup>Please enter splecialist
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                     <!-- Submit Button -->
            <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
                </div>
            </div>
           
        </form><!-- Form ends -->

    </div>